@media screen and (min-width:1200px) {
    .Song {
        display: flex;
        height: 32px;
        width: 100%;
        line-height: 32px;
        font-size: 14px;
        color: #363636;
    }


    .Song th {
        text-align: left;
        overflow: hidden;
    }

    .Song th:nth-of-type(1) {
        width: 35rem;
        text-align: center;
    }

    .Song th:nth-of-type(2) {
        margin-left: 35rem;
        width: 270rem;
    }

    .Song th:nth-of-type(3) {
        width: 75rem;
    }

    .Song th:nth-of-type(4) {
        width: 130rem;
    }

    .Song th:nth-of-type(5) {
        width: 40rem;
    }
}

@media screen and (max-width:1200px) {
    .Song {
        display: flex;
        height: 32px;
        width: 100%;
        line-height: 32px;
        font-size: 14px;
        color: #363636;
    }


    .Song th {
        text-align: left;
        overflow: hidden;
    }

    .Song th:nth-of-type(1) {
        width: 45rem;
        text-align: center;
    }

    .Song th:nth-of-type(2) {
        margin-left: 35rem;
        width: 320rem;
    }

    .Song th:nth-of-type(3) {
        width: 100rem;
    }

    .Song th:nth-of-type(4) {
        width: 145rem;
    }

    .Song th:nth-of-type(5) {
        width: 50rem;
    }
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .Song {
        display: flex;
        height: 32px;
        width: 100%;
        line-height: 32px;
        font-size: 14px;
        color: #363636;
    }


    .Song th {
        text-align: left;
        overflow: hidden;
    }

    .Song th:nth-of-type(1) {
        width: 45rem;
        text-align: center;
    }

    .Song th:nth-of-type(2) {
        margin-left: 35rem;
        width: 300rem;
    }

    .Song th:nth-of-type(3) {
        width: 90rem;
    }

    .Song th:nth-of-type(4) {
        width: 140rem;
    }

    .Song th:nth-of-type(5) {
        width: 50rem;
    }
}

.Serial {
    color: #cfcfcf;
    font-size: 12px;
}

.Name {
    color: #363636;
    font-size: 14px;
    font-weight: normal;
}

.Author {
    color: #656565;
    font-weight: normal;
}

.Album {
    color: #676767;
    font-weight: normal;
}

.Time {
    color: #969797;
    font-weight: normal;
}